$primary: #446179 !default;
$secondary: #52c3df !default;
$tritary: #2a4391 !default;
$base-color: #516379 !default;
$white: #ffffff !default;
$muted: #d4dce5 !default;
$light: #d4dce5 !default;
$base-font: "Montserrat", sans-serif;
$seco-font: "Rajdhani", sans-serif;
