.modal {
  &-lg {
    max-width: 1060px;
  }
  &-content {
    border-radius: 0;
    border: 0;
    &-details {
      width: 80%;
      .title-text-xl {
        width: 90%;
      }
      p {
        font-size: 0.875rem;
        line-height: 1.625rem;
      }
    }
  }
  &-body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    .contact-card {
      max-width: 90%;
      margin: auto;
      .slide-card {
        padding: 1.75rem;
      }
    }
  }
  &-header {
    border-bottom: 0;
    .btn-close {
      margin-right: -1rem;
      margin-top: -1rem;
      background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
      background-color: $secondary;
      border-radius: 0;
      height: 63px;
      width: 63px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      outline: 0;
      border: 0;
      opacity: 1;
      padding: 0;
      transition: all 0.2s ease-in-out;
      &:hover,
      &:focus {
        background-color: $primary;
      }
    }
  }
  &-footer {
    border-top: 0;
  }
  &-backdrop {
    background-color: $primary;
    background-blend-mode: multiply;
    &.show {
      opacity: 0.9;
    }
  }
}
